controller_manager:
  ros__parameters:
    update_rate: 500

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    scaled_joint_trajectory_controller:
      type: joint_trajectory_controller/JointTrajectoryController

    forward_velocity_controller:
      type: velocity_controllers/JointGroupVelocityController

    # Does not work with MoveIt
    # gripper_action_controller:
    #   type: forward_command_controller/ForwardCommandController

    gripper_action_controller:
      type: parallel_gripper_action_controller/GripperActionController

scaled_joint_trajectory_controller:
  ros__parameters:
      joints:
        - shoulder_pan_joint
        - shoulder_lift_joint
        - elbow_joint
        - wrist_1_joint
        - wrist_2_joint
        - wrist_3_joint
      command_interfaces:
        - position
      state_interfaces:
        - position
        - velocity

forward_velocity_controller:
  ros__parameters:
    joints:
      - shoulder_pan_joint
      - shoulder_lift_joint
      - elbow_joint
      - wrist_1_joint
      - wrist_2_joint
      - wrist_3_joint
    command_interfaces:
      - velocity
    state_interfaces:
      - position
      - velocity
    interface_name: velocity

gripper_action_controller:
  ros__parameters:
      joint: gripper_robotiq_hande_left_finger_joint
      command_interfaces:
        - position
      state_interfaces:
        - position
        - velocity
      interface_name: position
      goal_tolerance: 0.01
      allow_partial_joints_goal: false
